<template>
  <div id="app">
    <div class="jinja">
      <img
        alt="Vue logo"
        src="https://pbs.twimg.com/profile_images/378800000119280953/628012bb9201a4949a0c062b26cba77d_400x400.jpeg"
      />
      <img class="operator_face" alt=" " :src="'img/'+picked_operator+ '.png'" />
    </div>
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <h3>{{picked_operator}}</h3>
    <button @click="randompick">お祈りする</button>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'

export default {
  name: "app",
  // components: {
  //   HelloWorld
  // }
  data() {
    return {
      picked_operator: "coffee1324",
      operators: [
        "bandit",
        "blackbeard",
        "blitz",
        "buck",
        "capitao",
        "castle",
        "caveira",
        "doc",
        "echo",
        "ela",
        "frost",
        "glaz",
        "hibana",
        "iq",
        "jackal",
        "lesion",
        "list",
        "mira",
        "montagne",
        "mute",
        "pulse",
        "rook",
        "sledge",
        "smoke",
        "tachanka",
        "thatcher",
        "thermite",
        "twitch",
        "valkyrie",
        "ying"
      ]
    };
  },
  methods: {
    randompick: function() {
      this.picked_operator = this.operators[
        Math.floor(Math.random() * this.operators.length)
      ];
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.jinja {
  position: relative; /* 子要素の起点を指定 */
  /* height: 200px; 高さ指定 */
  width: 100%; /* 幅指定 */
  /* background-color: #ccc; 背景色指定 */
}

.operator_face {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  margin: auto;
  width: 160px;
}
</style>
